<p style="color: green"><%= notice %></p>

<% content_for :title, "Products" %>

<div class="flex flex-col gap-y-12 p-20 bg-slate-100">
  <h1 class="font-semibold text-2xl">Products</h1>
  <div id="products">
    <% @products.each do |product| %>
      <%= render product %>
      <p>
        <%= link_to "Show this product", product %>
      </p>
    <% end %>
  </div>
  <%= link_to "New product", new_product_path %>
</div>


